@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  will-change: filter;
  transition: filter 300ms;
  -webkit-transition: filter 300ms;
  -moz-transition: filter 300ms;
  -ms-transition: filter 300ms;
  -o-transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

:root {
  font-family: poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --link-color: #a2a2a2;
  --link-active-color: #263db1;
  --primary: #2f4cdd;
  --primary-light: #2f4cdd75;
  --primary-dark: #112794;
  --primary-extra-light: #3f5df229;
  --sec-color: #ff6d4d;
  --sec-extra-light: rgba(255, 110, 77, 0.356);
  --sec-light: rgba(247, 112, 82, 0.5);
  --sec-light1: rgba(247, 112, 82, 0.3);
  --border-color: #72727281;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
  text-transform: capitalize;

}

a:hover {
  color: var(--link-active-color);
}

nav a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

a.active {
  color: var(--link-active-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.swiper-slide-active {
  background-color: var(--sec-color);
  color: white;
}

.home .swiper-slide-active {
  background-color: transparent;
  color: #18214F;
}

.home .swiper-slide {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.home .swiper-slide:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.sub-head::after {
  position: absolute;
  content: '';
  top: 0;
  z-index: -10;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
}

h2 {
  font-weight: 500;
  font-size: 1.7rem;
}

.table td {
  width: 150px;
  overflow: auto;
}

.custom-container {
  width: calc(100% - 50px);
  max-width: 1400px;
  margin: auto;
}

.container {
  width: calc(100% - 100px);
  max-width: 1300px;
  margin: auto;
}

.pagination button.active {
  background-color: var(--primary-light);
  font-weight: bold;
}

aside li a.active {
  background-color: #527aff70;
}

.move-animation {
  animation: move 1.2s infinite;
  -webkit-animation: move 1.2s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-24deg);
  }

  50% {
    transform: rotate(-18deg);
  }

  60% {
    transform: rotate(14deg);
  }

  70% {
    transform: rotate(-11deg);
  }

  80% {
    transform: rotate(7deg);
  }

  90% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(1deg);
  }
}



.feature:hover {
  transition: 0.8s;
  box-shadow: 0px 20px 70px rgba(35, 50, 126, 0.15);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.custom-shadow {
  box-shadow: 0px 20px 70px rgba(35, 50, 126, 0.15);
}

.home p {
  color: #7A81A6;
}

@media (max-width:1130px)and (min-width:900px) {
  .phone a span {
    display: none;
  }

}

.rotate-img {
  animation: rotate-360 20s linear infinite;
  -webkit-animation: rotate-360 20s linear infinite;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
.product .card-head{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
}
.product:hover .card-head {
  opacity: 1;
  bottom: 0;
}

.product .overlay{
  visibility: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: 1;
}
.product:hover .overlay{
  visibility: visible;
  opacity: 1;
}